<a
  style="cursor: pointer"
  routerLinkActive="active"
  class="list-group-item clearfix"
  *ngFor="let exerciseEl of exercises"
  (click)="redirectDetailsExercise(exerciseEl.id)"
>
  <div>
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ exerciseEl?.exerciseName }}</h4>
      <p class="list-group-item-text">{{ exerciseEl?.exerciseDescription }}</p>
    </div>
    <span class="pull-right">
      <img [src]="exerciseEl?.exerciseImage" class="img-responsive" style="max-height: 50px" />
    </span>
  </div>
</a>
